In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup as bs
import pandas as pd
import datetime
import time

In [20]:
dic = {
    'name' : ['a', 'b', 'c'],
    'code' : ['1', '2', '3']
}

pd.DataFrame(dic)

  name code
0    a    1
1    b    2
2    c    3

In [2]:
seoul = []

seoul_localCode = {
    'code' : [1168066000,1174051500, 1130553500, 1150060300, 1162058500, 1121581000, 1153059500, 1154551000, 1135059500,
              1132052100, 1123060000, 1159051000, 1144056500, 1141069000, 1165066000, 1120059000, 1129066000,
              1171063100, 1147051000, 1156055000, 1117053000, 1138055100, 1111060000, 1114059000, 1126065500],
    'name' : ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구',
              '동작구', '마포구', '서대문구', '서초구', '성동구', '성복구', '송파구', '양천구', '영등포구', '용산구',
              '은평구', '종로구', '중구', '중랑구'],
    'apicode' : ['1667', '1668', '1669', '1670', '1671', '1672', '1673' ,'1674', '1675', '1676', '1677',
                 '1678', '1679', '1680', '1681', '1682', '1683', '1684', '1685', '1686', '1687', '1688',
                 '1689', '1690', '1691']
}

etc_localCode = {
    'code' : [2872038000],
    'name' : ['옹진군'],
    'apicode' : ['1667']
}

In [3]:
df = pd.DataFrame(seoul_localCode)
df

          code  name apicode
0   1168066000   강남구    1667
1   1174051500   강동구    1668
2   1130553500   강북구    1669
3   1150060300   강서구    1670
4   1162058500   관악구    1671
5   1121581000   광진구    1672
6   1153059500   구로구    1673
7   1154551000   금천구    1674
8   1135059500   노원구    1675
9   1132052100   도봉구    1676
10  1123060000  동대문구    1677
11  1159051000   동작구    1678
12  1144056500   마포구    1679
13  1141069000  서대문구    1680
14  1165066000   서초구    1681
15  1120059000   성동구    1682
16  1129066000   성복구    1683
17  1171063100   송파구    1684
18  1147051000   양천구    1685
19  1156055000  영등포구    1686
20  1117053000   용산구    1687
21  1138055100   은평구    1688
22  1111060000   종로구    1689
23  1114059000    중구    1690
24  1126065500   중랑구    1691

In [6]:
import oracledb as orcl
from sqlalchemy import create_engine
orcl.init_oracle_client()   # thick 드라이버로 변경

con = orcl.connect(
    user = 'jennie',
    password= '12345',
    dsn = 'localhost:1521/xe'
)

In [47]:
cur = con.cursor()
cur.execute("""
                CREATE TABLE SEOUL_GOO(
                    code NUMBER(15)
                        CONSTRAINT SEOULGOO_CODE_PK PRIMARY KEY,
                    name VARCHAR2(10 CHAR)
                        CONSTRAINT SEOULGOO_name_NN NOT NULL,
                    apicode VARCHAR2(6 CHAR)
                        CONSTRAINT SEOULGOO_api_NN NOT NULL
                )
            """)
cur.execute('commit')
cur.close()

DatabaseError: ORA-00955: name is already used by an existing object

In [48]:
path = 'oracle+oracledb://jennie:12345@localhost:1521/xe'
engine = create_engine(path)

table_name = 'SEOUL_GOO'  # 사용할 테이블 이름
df.to_sql(table_name, engine, if_exists='append', index=False)

print(f"Data has been inserted into table {table_name}")

Data has been inserted into table SEOUL_GOO

C:\Users\human\AppData\Local\Temp\ipykernel_13324\2190933378.py:5: UserWarning: The provided table name 'SEOUL_GOO' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name, engine, if_exists='append', index=False)

In [21]:
# 일기예보 테이블 만들기
cur = con.cursor()
cur.execute("""
                CREATE TABLE WEATHER_FORECAST(
                    code NUMBER(15)
                        CONSTRAINT FORECAST_code_NN NOT NULL,
                    name VARCHAR2(10 CHAR)
                        CONSTRAINT FORECAST_name_NN NOT NULL,
                    fdate VARCHAR2(10 CHAR)
                        CONSTRAINT FORECAST_date_NN NOT NULL,
                    temp_min NUMBER(5)
                        CONSTRAINT FORECAST_tmin_NN NOT NULL,
                    temp_max NUMBER(5)
                        CONSTRAINT FORECAST_tmax_NN NOT NULL,
                    temp_avg NUMBER(5)
                        CONSTRAINT FORECAST_tavg_NN NOT NULL,
                    rain_avg NUMBER(5)
                        CONSTRAINT FORECAST_ravg_NN NOT NULL,
                    wind_avg NUMBER(5)
                        CONSTRAINT FORECAST_wavg_NN NOT NULL,
                    wind_deg VARCHAR2(5 CHAR)
                        CONSTRAINT FORECAST_wdeg_NN NOT NULL,
                    wind_max NUMBER(5)
                        CONSTRAINT FORECAST_wmax_NN NOT NULL,
                    hum_avg NUMBER(8)
                        CONSTRAINT FORECAST_havg_NN NOT NULL
                )
            """)
cur.execute('commit')
cur.close()

In [19]:
df1 = pd.read_csv('etc_weather.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   code      3 non-null      int64
 1   name      3 non-null      object
 2   fdate     3 non-null      object
 3   temp_min  3 non-null      object
 4   temp_max  3 non-null      object
 5   temp_avg  3 non-null      float64
 6   rain_avg  3 non-null      float64
 7   wind_deg  3 non-null      object
 8   wind_avg  3 non-null      float64
 9   wind_max  3 non-null      int64
 10  hum_avg   3 non-null      float64
dtypes: float64(4), int64(2), object(5)
memory usage: 392.0+ bytes

In [20]:
path = 'oracle+oracledb://jennie:12345@localhost:1521/xe'
engine = create_engine(path)

table_name = 'WEATHER_FORECAST'  # 사용할 테이블 이름
df1.to_sql(table_name, engine, if_exists='append', index=False)

print(f"Data has been inserted into table {table_name}")

DatabaseError: (oracledb.exceptions.DatabaseError) ORA-01722: invalid number
[SQL: INSERT INTO "WEATHER_FORECAST" (code, name, fdate, temp_min, temp_max, temp_avg, rain_avg, wind_deg, wind_avg, wind_max, hum_avg) VALUES (:code, :name, :fdate, :temp_min, :temp_max, :temp_avg, :rain_avg, :wind_deg, :wind_avg, :wind_max, :hum_avg)]
[parameters: [{'code': 2872038000, 'name': '옹진군', 'fdate': '2024-07-06', 'temp_min': '21℃', 'temp_max': '25℃', 'temp_avg': 23.29, 'rain_avg': 2.46, 'wind_deg': '남풍', 'wind_avg': 7.29, 'wind_max': 13, 'hum_avg': 91.88}, {'code': 2872038000, 'name': '옹진군', 'fdate': '2024-07-07', 'temp_min': '22℃', 'temp_max': '25℃', 'temp_avg': 23.12, 'rain_avg': 0.0, 'wind_deg': '남서풍', 'wind_avg': 5.46, 'wind_max': 7, 'hum_avg': 92.08}, {'code': 2872038000, 'name': '옹진군', 'fdate': '2024-07-08', 'temp_min': '21℃', 'temp_max': '26℃', 'temp_avg': 23.25, 'rain_avg': 0.0, 'wind_deg': '남서풍', 'wind_avg': 6.0, 'wind_max': 12, 'hum_avg': 95.42}]]
(Background on this error at: https://sqlalche.me/e/20/4xp6)